actionlib==1.14.3
angles==1.9.14
catkin==0.8.12
catkin-pkg==1.0.0
contourpy==1.1.1
cycler==0.12.1
defusedxml==0.7.1
distro==1.9.0
docutils==0.20.1
fonttools==4.57.0
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
importlib-resources==6.4.5
interactive-markers==1.12.2
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
kiwisolver==1.4.7
laser-geometry==1.6.8
matplotlib==3.7.5
message-filters==1.17.4
netifaces==0.11.0
numpy==1.24.4
packaging==25.0
pillow==10.4.0
psutil==7.0.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-qt-binding==0.4.6
PyYAML==6.0.2
resource-retriever==1.12.10
rosbag==1.17.4
rosclean==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslz4==1.17.4
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospkg==1.6.0
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rviz==1.14.26
scipy==1.10.1
sensor-msgs==1.13.2
six==1.17.0
tf==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
topic-tools==1.17.4
xacro==1.14.20
zipp==3.20.2
